*{
    margin: 0px;
    padding: 0px;
    
}
 .container1{ 
    background-color:rgb(39, 158, 167); 
    height: 80px;
    display: flex;
    color: white;
}
.notice{
    margin-left: 650px;
    margin-top: 30px;
    border: 2px solid white;
    height: 20px;
    width: 15px;
    border-radius: 4px;
    background-color: white;

}
.signout{
    margin-top: 30px;
    margin-left: 10px;
    border: 2px solid white;
    height: 20px;
    width: 18px;
    border-radius: 4px;
    background-color: red;
}
.container2{
    padding: 0px;
    background-color: black;
    height: 525px;
    width: 260px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    color: white;
    
}
.container3{
    height: 124px;
    background-color:rgb(39, 158, 167) ;
    color: white;
    display: flex;
    justify-content: end;

}

.container2 .usericon{
    margin-left: 313px;
    display: flex;
    
}
.container2  .cross_x{
    margin-left: 80px;
    margin-top: 10px;
  
}

.container2  .cross_x .cross{
  
    color: white;
}


.container2 #name_user {
    margin-top: 98px;
    margin-left: -168px;
}

.container2 .service{
    margin-left: 46px;
    margin-top: 10px;
}
.container2 .custom-line {
    border: none;
    height: 2px;
    background-color: white;
    margin: 20px -68px;
}

